body {
    font-family: 'Bebas Neue', cursive;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2% !important;
    background-color:#010a00 !important;
    /* background-image: url("../static/3px-tile.png"); */

}

button {
    border-radius: 10% !important;
}

.container {
    width: 80%;
    margin: 0 auto;
}

 a {
    width: 95%;
    margin: 5em auto;
    display: inline-block;
    background:darkslategrey;
    color: black;
    padding:.8em;
    margin-top: 2em;
} 


main button{
    background:black !important;
    padding: .2em;
    /* color: white; */
    font-weight: bold;
    
}


.neon {
    color: #fff;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.rwd-table {
    margin: lem 0;
    min-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child{
    padding-top: .5em;
}

.rwd-table td:last-child{
    padding-bottom: .5em;
}

.rwd-table td:before{
    content:"";
    /* attr(data-th) ". " */
    font-weight: bold;
    widows: 9.5em;
    display: inline-block;
}
@media (min-width: 480px){
    .rwd-table th, .rwd-table td{
        display: table-cell;
        padding:.25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child{
        padding-left:0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child{
        padding-right: 0;
    }
}

.rwd-table {
    background: #34495e;
    color: #fff;
    /* border-radius: 1% !important; */
    overflow: hidden;
}
.rwd-table tr {
    border-color : #46627f;
}
.rwd-table th, .rwd-table td {
    margin:.5em 1em;
}
@media (min-width: 480px){
    .rwd-table th, .rwd-table td{
        padding:1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}

.rwd-table .centerPos {
    text-align: center;
}


table{
    border:2px solid white
}
th{
    background-color: rgb(0, 4, 59);
}

.formJurnalTransaksi{
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}